<h1>Student Details Form</h1>
<mat-form-field class="example-full-width">
  <mat-label>Name</mat-label> <input matInput placeholder="Ex: John Doe" value="">
</mat-form-field> <br>
<mat-form-field class="example-full-width">
  <mat-label>Email</mat-label> <input matInput placeholder="Ex: x@y.com" value="">
</mat-form-field> <br>
<mat-form-field class="example-full-width">
  <mat-label>Registration Number</mat-label> <input matInput placeholder="" value="">
</mat-form-field> <br>
<mat-label>Gender</mat-label> <br>
<mat-radio-group>
  <mat-radio-button value="male">Male</mat-radio-button><br>
  <mat-radio-button value="female">Female</mat-radio-button><br>
  <mat-radio-button value="nonb">Other</mat-radio-button><br>
</mat-radio-group> <br>
<mat-form-field appearance="fill">
  <mat-label>Year of Study</mat-label>
  <select matNativeControl>
    <option value="1st">1st</option>
    <option value="2nd">2nd</option>
    <option value="3rd">3rd</option>
    <option value="4th">4th</option>
  </select>
</mat-form-field> <br>
<mat-label>Languages Known</mat-label> <br>
<mat-checkbox> English </mat-checkbox> <br>
<mat-checkbox> Hindi </mat-checkbox>
